@import '/src/sass/utils/variable';

// FOOTER
.footer {
    padding: 4rem 0;
    border-radius: 0.6rem;
    transition: all .2 ease-in-out;

    &--light {
        background-color: $secondary-color-light;
    }

    &--dark {
        background-color: $primary-color-dark;
    }

    &__content {
        width: 32.7rem;
        margin: 0 auto;
        padding: 0 2.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &__logo {

            &__svg {
                width: 15rem;
            }
        }

        &__about {
            margin: 4rem 0;
            display: flex;
            flex-direction: column;

            &__title {
                margin-bottom: 1rem;
                font-size: 1.8rem;
                font-weight: 700;

                &--light {
                    color: $primary-color-dark;
                }

                &--dark {
                    color: $secondary-color-light;
                }

            }

            &__list {
                list-style-type: none;

                &__link {
                    cursor: pointer;
                    margin: .5rem auto;
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: $secondary-color-darker;
                    transition: all .1s ease;

                    &:hover {
                        color: $secondary-color-light;
                        background-color: $primary-color;
                        padding: .2rem .4rem;
                        border-radius: .2rem;
                        transform: scale(1.1);
                    }
                }
            }
        }

        &__project {
            display: flex;
            flex-direction: column;

            &__title {
                margin-bottom: 1rem;
                font-size: 1.8rem;
                font-weight: 700;

                &--light {
                    color: $primary-color-dark;
                }

                &--dark {
                    color: $secondary-color-light;
                }
            }

            &__desc {
                line-height: 2.5rem;
                font-size: 1.4rem;
                font-weight: 400;
                color: $secondary-color-darker;
            }
        }
    }

    &__social {
        width: 32.7rem;
        margin: 0 auto;
        text-align: center;

        &__icon {
            margin: 5rem 2.4rem;

            &__svg {
                width: 4rem;
                margin: 0 1.5rem;
                opacity: .7;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
        }

        &__copyright {
            font-size: 1.4rem;
            font-weight: 400;

            &--light {
                color: $primary-color-dark;
            }

            &--dark {
                color: $secondary-color-light;
            }
        }
    }
}

// ------------------BREAKPOINTS--------------------
// TABLET
@media screen and (min-width: 768px) {

    // FOOTER
    .footer {

        &__content {
            padding: 0 4.8rem;
            width: 68.9rem;
            display: grid;
            grid-template-columns: 50% 50%;

            &__logo {
                grid-column: span 2;
                margin-bottom: 2rem;
            }

            &__about {
                align-self: flex-start;
                margin: 2rem 0;

                &__list {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                    &__link {
                        margin: 1rem 2rem;
                    }
                }
            }

            &__project {
                margin: 2rem 0;
            }
        }
    }
}

// DESKTOP
@media screen and (min-width: 1440px) {

    // FOOTER
    .footer {

        &__content {
            width: 111rem;
            padding: 0;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            text-align: left;
            display: flex;
            align-items: center;

            &__logo {
                // align-self: center;
            }

            &__about {
                margin: 0;
                align-self: center;

                &__list {
                    flex-direction: column;

                    &__link {
                        margin: .3rem 0;
                    }
                }
            }

            &__project {
                display: flex;
                width: 42rem;
            }
        }
    }
}