@import '/src/sass/utils/variable';

.header__details {
    width: 32.7rem;
    height: 20.5rem;
    border-radius: 0.6rem;
    margin: -1.5rem auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $primary-color-dark;
    box-shadow: 0 .2rem .2rem rgba(192, 192, 192, 0.589);

    .header__details__logo {
        width: 5rem;
        margin: -2.4rem auto 1.5rem;
        box-shadow: 0 .2rem .2rem rgba(192, 192, 192, 0.589);
    }

    .header__details__headings__info__title {
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 700;
        color: $secondary-color-light;
    }

    .header__details__headings__info__url {
        margin-bottom: 2.5rem;
        font-size: 1.6rem;
        font-weight: 400;
        color: $secondary-color-darker;
    }

    .header__details__headings__btn {
        width: 14.7rem;
        height: 4.8rem;
        border: none;
        border-radius: 0.5rem;
        opacity: 0.9;
        font-size: 1.6rem;
        font-weight: 700;
        color: $primary-color;
        background-color: $secondary-color-darker;

        &:hover {
            background-color: $secondary-color-dark;
            cursor: pointer;
        }
    }
}

// ------------------BREAKPOINTS--------------------
// TABLET
@media screen and (min-width: 768px) {
    .header__details {
        width: 68.9rem;
        height: 14rem;
        margin: -4rem auto 0;
        flex-direction: row;
        border-radius: 0rem .6rem .6rem .6rem;

        .header__details__logo {
            width: 14rem;
            height: 14rem;
            margin: 0;
            border-radius: 0rem 0rem 0rem .6rem;
        }

        .header__details__headings {
            width: 54.9rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: left;
            padding: 0 4rem;

            .header__details__headings__info__url {
                margin-bottom: 0;
                margin-top: 1.5rem;
            }

            .header__details__headings__btn {
                color: $secondary-color-light;
            }
        }
    }
}

// DESKTOP
@media screen and (min-width: 1440px) {
    .header__details {
        width: 73rem;

        .header__details__headings {
            min-width: 59rem;
            padding: 0 4.3rem;
        }
    }
}