@import '/src/sass/utils/variable';

// GENERAL STYLE
main {
    padding: 4rem 2rem;
    margin: 0 auto;
    padding-bottom: 5rem;
}

// CARD STYLE
.card {
    max-width: 46rem;
    min-height: 15.2rem;
    border-radius: 1rem;
    padding: 2rem 3rem;
    margin: 0 auto;
    margin-bottom: 4rem;
    position: relative;
    transition: all .2s ease-in-out;

    &--light {
        background-color: $secondary-color-light;
        box-shadow: 0 .2rem .2rem rgba(192, 192, 192, 0.589);
    }

    &--dark {
        background-color: $primary-color-dark;
        box-shadow: 0 .5rem .3rem rgba(0, 0, 0, 0.596);
    }

    &:hover {
        transform: scale(1.05);
    }

    &:hover>.card__companyName--light {
        color: $primary-color;
    }

    &:hover>.card__companyName--dark {
        color: $primary-color-light;
    }

    &__logo {
        max-width: 6rem;
        margin-top: -4rem;
        margin-bottom: 2rem;
        transition: all .2s ease-in-out;
        border-radius: 50%;

        &--light {
            box-shadow: 0 .5rem .3rem rgba(0, 0, 0, 0.171);
        }

        &--dark {
            box-shadow: 0 .5rem .3rem rgba(0, 0, 0, 0.596);
        }
    }

    &__isNew {
        position: absolute;
        top: -1rem;
        right: 2rem;
        font-size: 1.6rem;
        color: $secondary-color-light;
        background-color: rgb(255, 78, 78);
        padding: .2rem .4rem;
        border-radius: .2rem;
    }

    &__companyName {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: .5rem;
        transform-origin: left;
        transition: all .2s ease-in-out;

        &--light {
            color: $primary-color-dark;
        }

        &--dark {
            color: $secondary-color-light;
        }
    }

    &__isRemote {
        font-size: 1.4rem;
        color: $secondary-color-darker;
        margin-bottom: 1rem;
    }

    &__technoList {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        & * {
            font-size: 1.6rem;
            color: $secondary-color-light;
            background-color: $primary-color;
            padding: .2rem .4rem;
            margin-right: 1rem;
            border-radius: .2rem;
        }
    }

    &__city {
        color: $primary-color;
        font-size: 1.4rem;
        font-weight: 700;
    }
}

.loadMore {
    text-align: center;
    grid-column: span 2;

    // LOAD MORE BUTTON
    .loadMore__btn {
        width: 14.1rem;
        height: 4.8rem;
        border: none;
        border-radius: 0.5rem;
        font-size: 1.6rem;
        color: $secondary-color-light;
        background-color: $primary-color;

        &:hover {
            background-color: $primary-color-light;
            cursor: pointer;
        }
    }
}

.error {
    grid-column: span 2;
    text-align: center;
    margin-top: -3rem;
    display: flex;
    justify-content: center;


    &__copy {
        font-size: 1.6rem;
        margin-right: 2rem;
        font-weight: 300;
        letter-spacing: .3rem;

        &--dark {
            color: $secondary-color-light;
        }

        &--highlight {
            font-weight: 900;
            color: rgb(255, 34, 34);
        }
    }
}

// ------------------BREAKPOINTS--------------------
// TABLET
@media screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        justify-content: center;
        padding: 0;
        padding-bottom: 5rem;
        // margin: 4rem auto;
        max-width: 68.9rem;
    }

}

// DESKTOP
@media screen and (min-width: 1440px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
        padding-bottom: 5rem;
        max-width: 110rem;
    }

    .loadMore {
        grid-column: span 3;
    }

    .error {
        grid-column: span 3;
    }
}

//Dot Animation
.dot-bricks {
    position: relative;
    top: 15px;
    left: -9999px;
    width: 7px;
    height: 7px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    box-shadow: 9991px -16px 0 0 #9880ff, 9991px 0 0 0 #9880ff, 10007px 0 0 0 #9880ff;
    animation: dotBricks 2s infinite ease;
}

@keyframes dotBricks {
    0% {
        box-shadow: 9991px -16px 0 0 #9880ff, 9991px 0 0 0 #9880ff, 10007px 0 0 0 #9880ff;
    }

    8.333% {
        box-shadow: 10007px -16px 0 0 #9880ff, 9991px 0 0 0 #9880ff, 10007px 0 0 0 #9880ff;
    }

    16.667% {
        box-shadow: 10007px -16px 0 0 #9880ff, 9991px -16px 0 0 #9880ff, 10007px 0 0 0 #9880ff;
    }

    25% {
        box-shadow: 10007px -16px 0 0 #9880ff, 9991px -16px 0 0 #9880ff, 9991px 0 0 0 #9880ff;
    }

    33.333% {
        box-shadow: 10007px 0 0 0 #9880ff, 9991px -16px 0 0 #9880ff, 9991px 0 0 0 #9880ff;
    }

    41.667% {
        box-shadow: 10007px 0 0 0 #9880ff, 10007px -16px 0 0 #9880ff, 9991px 0 0 0 #9880ff;
    }

    50% {
        box-shadow: 10007px 0 0 0 #9880ff, 10007px -16px 0 0 #9880ff, 9991px -16px 0 0 #9880ff;
    }

    58.333% {
        box-shadow: 9991px 0 0 0 #9880ff, 10007px -16px 0 0 #9880ff, 9991px -16px 0 0 #9880ff;
    }

    66.666% {
        box-shadow: 9991px 0 0 0 #9880ff, 10007px 0 0 0 #9880ff, 9991px -16px 0 0 #9880ff;
    }

    75% {
        box-shadow: 9991px 0 0 0 #9880ff, 10007px 0 0 0 #9880ff, 10007px -16px 0 0 #9880ff;
    }

    83.333% {
        box-shadow: 9991px -16px 0 0 #9880ff, 10007px 0 0 0 #9880ff, 10007px -16px 0 0 #9880ff;
    }

    91.667% {
        box-shadow: 9991px -16px 0 0 #9880ff, 9991px 0 0 0 #9880ff, 10007px -16px 0 0 #9880ff;
    }

    100% {
        box-shadow: 9991px -16px 0 0 #9880ff, 9991px 0 0 0 #9880ff, 10007px 0 0 0 #9880ff;
    }
}