@import '/src/sass/utils/variable';

// GENERAL STYLE
main {
    padding: 4rem 2rem;
    margin: 0 auto;
}

// CARD STYLE
.card {
    background-color: $primary-color-dark;
    max-width: 46rem;
    border-radius: 1rem;
    padding: 2rem 3rem;
    margin: 0 auto;
    margin-bottom: 4rem;
    box-shadow: 0 .2rem .2rem rgba(47, 47, 47, 0.589);
    position: relative;
    transition: .2s ease;

    &:hover {
        transform: scale(1.05);
    }

    &:hover>.card__companyName {
        color: $primary-color-light;
    }

    &__logo {
        max-width: 5rem;
        margin-top: -4rem;
        margin-bottom: 2rem;
        box-shadow: 0 .2rem .2rem rgba(47, 47, 47, 0.589);
        border-radius: .2rem;
    }

    &__isNew {
        position: absolute;
        top: -1rem;
        right: 2rem;
        font-size: 1.6rem;
        color: $secondary-color-light;
        background-color: rgb(255, 78, 78);
        padding: .2rem .4rem;
        border-radius: .2rem;
    }

    &__companyName {
        color: $secondary-color-light;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: .5rem;
        transform-origin: left;
        transition: .1s ease;
    }

    &__isRemote {
        font-size: 1.4rem;
        color: $secondary-color-darker;
        margin-bottom: 1rem;
    }

    &__technoList {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        & * {
            font-size: 1.6rem;
            color: $secondary-color-light;
            background-color: $primary-color;
            padding: .2rem .4rem;
            margin-right: 1rem;
            border-radius: .2rem;
        }
    }

    &__city {
        color: $primary-color;
        font-size: 1.4rem;
        font-weight: 700;
    }
}

// ------------------BREAKPOINTS--------------------
// TABLET
@media screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        justify-content: center;
        padding: 0;
        margin: 4rem auto;
        max-width: 68.9rem;
    }

}

// DESKTOP
@media screen and (min-width: 1440px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
        max-width: 110rem;
    }
}