@import '/src/sass/utils/variable';

.search {
    padding: 2rem;
    margin: 0 auto;
    margin-top: -5rem;

    &__form {
        max-width: 46rem;
        border-radius: 1rem;
        padding: 1.5rem 2rem;
        margin: 0 auto;
        box-shadow: 0 .2rem .2rem rgba(192, 192, 192, 0.589);
        transition: all .2s ease-in-out;

        display: flex;
        justify-content: space-between;
        align-items: center;

        &--light {
            background-color: $secondary-color-light;
        }

        &--dark {
            background-color: $primary-color-dark;
        }

        &__input {
            border: none;
            transition: all .2s ease-in-out;

            &--dark {
                border: none;
                background-color: $primary-color-dark;
                color: white;
                transition: all .2s ease-in-out;
            }
        }

        &__buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__filter {
                width: 2rem;
            }

            &__loupe {
                background-color: $primary-color;
                padding: 1rem;
                margin-left: 2rem;
                color: white;
                box-sizing: content-box;
                transform: scale(.8);
                border-radius: .6rem;
            }
        }
    }
}

// ------------------BREAKPOINTS--------------------
// TABLET
@media screen and (min-width: 768px) {

    .search {
        margin-bottom: 6rem;

        &__form {
            max-width: 68.9rem;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);

            &__inputs {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-left: 1.6rem;
                grid-column: span 2;

                &__icon {
                    width: 3rem;
                }

                &__input {
                    border: none;
                    background: none;
                    padding: 3rem 0;
                    font-size: 1.6rem;
                    font-weight: 400;
                    margin-left: 1.6rem;
                    width: 100%;
                }

                &__check {
                    transform: scale(1.4);
                    transform-origin: left;
                    cursor: pointer;
                }

                &__checkLabel {
                    font-size: 1.6rem;
                    font-weight: 700;
                    margin-left: 1.6rem;
                    transition: all .2 ease-in-out;

                    &--dark {
                        color: $secondary-color-light;
                    }
                }
            }

            &__btn {
                grid-column: span 2;
                width: fit-content;
                margin: 0 auto;
                padding: 1.6rem 1.4rem;
                font-size: 1.6rem;
                font-weight: 700;
                color: $secondary-color-light;
                background-color: $primary-color;
                border: none;
                border-radius: .5rem;

                &:hover {
                    background-color: $primary-color-light;
                    cursor: pointer;
                }
            }
        }
    }

    .search__form__inputs:not(:last-of-type) {
        border-right: 1px solid rgba(0, 0, 0, 0.198);
        grid-column: span 4;
    }

    .search__form__inputs--dark:not(:last-of-type) {
        border-right: 1px solid rgba(228, 228, 228, 0.301);
        grid-column: span 4;
    }
}

// DESKTOP
@media screen and (min-width: 1440px) {
    .search__form {
        max-width: 110rem;

        &__btn {
            padding: 1.6rem 3.6rem;
        }
    }

    .search__form__inputs:last-of-type {
        margin: 0 auto;
    }
}