@import '/src/sass/utils/variable';

.technoChoice {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    &__accordion {
        max-width: 46rem;
        margin-top: 3rem;

        &--light {
            transform: scale(2);
        }

        &--dark {
            background-color: $primary-color-dark;
        }

        &__summary {

            &__title {
                font-size: 1.6rem;
            }

            &__icon--dark {
                color: $primary-color-light;
            }
        }

        &__details {
            max-width: 46rem;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            &__techno {
                font-size: 1.6rem;
                margin: 1rem;
                cursor: pointer;
                transition: all .1s ease;

                &:hover {
                    color: $primary-color;
                    transform: scale(1.1);
                }

                &--active {
                    color: $secondary-color-light;
                    background-color: $primary-color;
                    padding: .2rem .4rem;
                    border-radius: .2rem;

                    &:hover {
                        color: $secondary-color-light;
                        background-color: $primary-color-light;
                    }
                }
            }
        }

    }
}